*{
    background-color: lightblue;
}

h1,li{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

h1{
    color: chocolate;
    font-size: 48px;    
}

li{
    line-height: 1.5;
    font-weight: bold;
    font-size: 30px;
    color:red;
}